*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    box-sizing: border-box;
}
header{
    display: flex;
    align-items: center;
    gap: 40px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.headerLeft{
    display: flex;
    align-items: center;
}
.logo{
    padding: 24px 30px;
    border-right: 1px solid #ccc;
}
.headerAdderess{
    padding: 20px;
}
.headerAdderess h3{
    font-size: 18px 30px;
    margin-bottom: 5px;
}
.headerAdderess p{
    font-size: 14px;
}
.searchBox{
    flex-grow: 1;
    background-color: #F8F8F8;
    display: flex;
    border-radius: 15px;
    border: 1px solid #f4f4f4;
}
.searchBox button{
    padding: 15px;
    border: none;
    background: transparent;
}
.searchBox input{
    flex-grow: 1;
    border: none;
    
     background: transparent;
}
.searchBox input:focus{
    outline: none;
}
.headerBtn{
    display: flex;
    gap: 40px;
    margin-right: 40px;
}
.headerBtn button{
    font-size: 16px;
    padding: 15px;
    background-color: transparent;
    border: none;
}
.headerBtn button:last-child{
    color: white;
    border-radius: 5px;
    font-weight: bold;
    background-color: rgb(12, 131, 31);

}
.bannerSection{
    max-width: 1280px;
    margin: 0px auto;
}
.bannerSection img{
    width: 100%;
}
.orderBanner{
    display: flex;
    max-width: 1280px;
    margin: auto;
}
.orderBannerItems{
    flex-basis: 27%;
    margin: 1%;
}
.orderBannerItems img{
    width: 100%;
}
.categorySection{
    max-width: 1280px;
    flex-wrap: wrap;
    display: flex;
    margin: auto;
}
.categoryItems{
    flex-basis: 10%;
}
.categoryItems img{
    width: 100%;
}
.productSection{
    max-width: 1280px;
    margin: auto;
    padding: 30px 0px;
}
.headingRow{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.headingRow h2{
    font-size: 22px;
}
.headingRow a{
    color: #328839;
    font-size: 18px;
}
.productRow{
    width: 100%;
    margin: 30px 0px;
    display: flex;

}
.productItems{
    flex-basis: 15%;
    box-sizing: border-box;
    border: 1px solid #ccc;
}
.productImg{
    text-align: center;
    padding: 15px;
}
.productImg p{
    background-color: #F8F8F8;
    display: flex;
    width: 60px;
    gap: 5px;
    padding: 2px;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    text-align: left;
}
.productContent{
    padding: 15px;
    padding-top: 0px;
}
.productContent h3{
    font-size: 14px;
}