:root {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    background-color: #121212;
    color: white;
}

.card {
    width: 850px;
    padding: 20px;
    margin: 40px auto;
    background-color: #1e1e1e;
    color: white;
    border-radius: 15px;
    border: 1px solid #333;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

.navbar {
    width: 100%;
    height: 70px;
    background-color: #1e1e1e;
    color: white;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 40px;
    box-sizing: border-box;
}

.logo {
    font-size: 28px;
    font-weight: bold;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 30px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: 0.3s;
}

.nav-links a:hover {
    color: cyan;
}