:root {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    background-color: #121212;
    color: white;
}

.card {
    width: 850px;
    padding: 20px;
    margin: 40px auto;
    background-color: #1e1e1e;
    color: white;
    border-radius: 15px;
    border: 1px solid #333;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}